<mat-toolbar style="background-color: cadetblue;color: white;">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>نظام الموارد البشريه</span>
    <span class="example-spacer"></span>
    <div class="demo-section">
        <button mat-raised-button matBadge="{{noty}}" matBadgePosition="before">
         التنبيهات
        </button>
      </div>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
  
